.app-wrapper{
  background-color: yellow;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-block{
  width: 350px;
  height: 500px;
  background-color: gray;
}

.header{
  height: 70px;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content{
  height: 430px;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
}

.create-button{
  width: 180px;
  height: 50px;
  background-color: blue;
  position: fixed;
  bottom: 100px;
  left: 375px;
  text-align: center;
  line-height: 50px;
}

.task-wrapper{
  height: 70px;
  display: flex;
  align-items: center;
  background: orange;
}

.task-input{
  width: 70%;
  height: 30px;
}

.delete-button{
  margin-left: 20px;
  cursor: pointer;
}
